@import "tailwindcss";

a {
  color: inherit !important;
  text-decoration: none !important;
}

/* Estilo da barra de rolagem */
::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Cor de fundo da trilha */
  border-radius: 10px; /* Borda arredondada da trilha */
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
